name: main workflow

on: pull_request


jobs:
  
  code_review:
    name: client side code review
    runs-on: ubuntu-latest
    steps:
      
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0


      - name: fetch diff file
        run: |
          gh pr diff ${{ github.event.pull_request.number }} > pr_diff.txt

      - name: show diff file
        run: cat pr_diff.txt
          
        